<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="../Static/CSS/GameCSS.css">

</script>
</head>
<body>


  <div class="split left">

    <!--<script>
    document.getElementById('myImage').src= "../JS/gameCode.js";
  </script> -->


  </div>
  <div class="split right">

<!-- this is the output box-->

    <div class ="Split right half">
      <div class = "Output_box">
      <output type = "text" id ="commandLineOutput">
      </div>

<!-- this is the input box & submit button-->
    <div class="Input_box" >

      <input type = "text" id ="commandLineInput">
        <button type= "submit" id ="myBtn" onclick=clickFunction()>click me</button>

    </div>




        </div>


    </body>
    <script src="Static/JS/gameCode.js" ></script>
  </html>
